<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(value,key,index) in object">
                {{index}}.{{key}}:{{value}}
            </li>
        </ul>
        <br><br>
        <ul>
            <template v-for="n in 10">
                <li>{{n}}</li>
            </template>
        </ul>
    </div>

    <script>
        new Vue({
            el:"#app"
            ,data:{
                object:{
                    name:"笨比"
                    ,url:"http://www.123.com"
                    ,slogan:"学习"
                }
            }
        })

    </script>
</body>
</html>
